<div style="text-align: left"></div>
<div class="container" style="width:40%" id="add">
    <button  class="btn btn-primary btn-xs" data-title="add" [routerLink]="['/dashboard']">
      Back to dashboard </button>&nbsp;&nbsp;
  <div>

    <div>
      
     
      <h4 >Edit Your Details</h4>
    </div>
    <div>
      <div class="form-group">
        First Name :
        <input class="form-control " type="text" [(ngModel)]="newfname">
      </div>
      <div class="form-group">

        Last Name
        <input class="form-control " type="text" [(ngModel)]="newlname">
      </div>
      <div class="form-group">

        Address :
        <input class="form-control " type="text" [(ngModel)]="newaddress">
      </div>
      <div class="form-group">

        State :
        <input class="form-control " type="text" [(ngModel)]="newstate">
      </div>
      <div class="form-group">

        Mobile :
        <input class="form-control " type="text" [(ngModel)]="newmobile">
      </div>

    </div>

  
    <div >
      <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" (click)="editfunction()">
        <span  class="glyphicon glyphicon-ok-sign">Confirm to Edit</span>
      </button>
    </div>


  </div>

</div>